* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
menu {
  list-style: none;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  padding: 20px;
  background-color: rgb(255, 240, 240, 0.8);
  box-shadow: 5px 5px 0px red;
}

h2 {
  margin: 20px 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

ul:first-child {
  text-align: start;
}

.rating {
  margin-bottom: 20px;
}